* {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

main {
  background-color: #222;
}

.list {
  background-color: #333;
  width: 480px;
  height: 11968px; // originally 3418px 11968
  position: absolute;
  margin-left: 100px;
  overflow-y: hidden;
//  filter:blur(5px);
  padding-top: 510px;
}

.list h2 {
  position: absolute;
  color: #ccc;
  margin-left: 20px;
}

.listOverlay {
  background-image: url("images/List Overlay.png");
  width: 480px;
  height: 1080px; // originally 3418px 11968
  position: absolute;
  margin-left: 100px;
  margin-top: -12478px;
  position: fixed;
  overflow-y: hidden;
}

.era {
  background-color: pink;
  width: 1140px;
  height: 100px;
  margin-left: 580px;
  margin-top: -12478px;
  position: fixed;
  overflow-y: hidden;
}

.era h2 {
 text-align: center;
 margin-top: 20px;
 font-size: 50px;
}

.map {
  background-color: tan;
  width: 1140px;
  height: 720px;
  margin-left: 580px;
  margin-top: -12378px;
  position: fixed;
}

.map h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.map div {
  margin: 0px;
  padding: 0px;

  margin-left: 20px;

  width: 1098px;
  height: 638px;
  background-color: black;
}

.info {
  background-color: lightblue;
  width: 1140px;
  height: 260px;
  margin-left: 580px;
  margin-top: -11658px;
  position: fixed;
}

.info p {

}

.event1 {
  margin-top: 8px;
}

.event2 {
  margin-top: 1208px;
}

.event3 {
  margin-top: 2096px;
}

.event4 {
  margin-top: 2680px;
}

.event5 {
  margin-top: 3128px;
}

.event6 {
  margin-top: 3808px;
}

.event7 {
  margin-top: 4360px;
}

.event8 {
  margin-top: 4848px;
}

.event9 {
  margin-top: 7248px;
}

.event10 {
  margin-top: 7664px;
}

.event11 {
  margin-top: 7976px;
}

.event12 {
  margin-top: 8600px;
}

.event13 {
  margin-top: 9496px;
}

.event14 {
  margin-top: 10176px;
}

.event15 {
  margin-top: 10928px;
}

.event16 {
  margin-top: 11400px;
}
